
<div class="row">

<div class="card-panel teal lighten-1">
    <span class="grey-text text-darken-3 center" >
          <h6>My Trips Index</h6>
    </span>
</div>
    <% if @trips.empty?  %>
        <p>You haven't created any trips yet.</p>
    <% else %>
    <ul>
        <% @trips.each do |trip| %>
        <li>
            <div class="col s4">
              <div class="card teal lighten-2 z-depth-5">
              <div class="card-image">
                <img src="<%= asset_path("#{trip.rv.name}.jpg") %>" class="responsive-img">
                </div>
                <h6><%= link_to trip.name, user_trip_path(trip.user_id, trip) %><br>   </h6>
                <button class="waves-effect wave-light teal lighten-3 btn-small">
                    <%= form_tag trip_path(trip.id), method: :delete %>
                    <%= submit_tag "Delete" %> <i class="material-icons left">delete</i>
                </button>
                <button class="waves-effect wave-light teal lighten-3 btn-small">
                    <%= form_tag trip_path(trip.id), method: :edit %>
                    <%= submit_tag "Edit" %> <i class="material-icons left">edit</i>
                </button>
            </div>
        <% end %>
    <% end %>
        
</ul>
</div>
</div>