<div><p>Destination: <%= @trip.name %> </p></div>

RV Name: <%= @trip.rv.name %>
<br>
<p>Number of Guests: <%= @trip.guests %></p>

<br>

<p>    Total Trip Price:</p>
<%= @trip.total_price %>
<br>

<button class="waves-effect wave-light teal lighten-3 btn-small">
    <%= form_tag user_trip_path(current_user.id, @trip.id), method: :delete %>
    <%= submit_tag "Delete" %> <i class="material-icons left">delete</i>
</button>
<button class="waves-effect wave-light teal lighten-3 btn-small">
    <%= form_tag user_trip_path(current_user.id, @trip.id), method: :edit %>
    <%= submit_tag "Edit" %> <i class="material-icons left">edit</i>
</button>