<div class="card-panel teal lighten-1">
    <span class="grey-text text-darken-3 center" >
      <h5>RV Index</h5>
        <a href="<%= rv_path(most_popular) %>" class="waves-effect waves-light teal darken-4 btn-small">Most Popular</a>
        <a href="/sort_by_price" class="waves-effect waves-light teal darken-4 btn-small">Sort By Price</a>

    </span>
</div>

<div class="row">

    <% @rvs.each do |rv|%>

        <div class="col s6">
          <div class="card teal lighten-2 z-depth-5">
            <div class="card-image">
              <img src="<%= asset_path("#{rv.name}.jpg") %>" class="responsive-img">
              <span class="card-title"><%=rv.name%></span>
              <a href='<%= rv_path(rv) %>' class="btn-floating halfway-fab waves-effect waves-light teal darken-1 pulse"><i class="material-icons">launch</i></a>  
            </div>
            <div class="card-content">
                <p>Sleeps: <%= rv.sleeps %></p>
                <p>Price: $<%= rv.price %>/night</p>
            </div>
          </div>
        </div>
    <%end%>
</div>

