<div class="container">

<img src="<%= asset_path("#{@rv.name}.jpg") %>" alt='<%= "#{@rv.name}" %>'' class="responsive-img circle">

<h1><%= @rv.name %></h1>
<h4>Sleeps: <%= @rv.sleeps %></h4>
<h4>Price/Night: $<%= @rv.price %></h4>

<% if user_signed_in? %>
    <a class="waves-effect waves btn teal" href="<%= new_rv_trip_path(@rv) %>">New Trip</a>
<% else %>
    Please <%= link_to "SignIn", new_user_session_path %> or <%= link_to "SignUp", new_user_session_path %> to go on a trip with this RV.
<% end %>

</div>