<nav>
    <div class="nav-wrapper teal lighten-3">
        <div class="container">
                <% if !user_signed_in? %>
                    <a href="/" class="brand-logo center">RVB'n'B</a>
                    <ul>
                        <li><%= link_to "SignUp", new_user_registration_path %></li>
                        <li><%= link_to "SignIn", new_user_session_path %></li>
                    </ul>
                <% else %>
                    
                    <ul id="nav-mobile" class="left hide-on-med-down">
                        <li><%= link_to "SignOut", destroy_user_session_path, method: :delete %></li>
                        <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                        <li><div class="my-trips"><%= link_to "MyTrips", user_trips_path(current_user.id)  %></div></li>
                        <li><%= link_to "RVs", rvs_path %></li>
                    </ul>
                    <a href="/" class="brand-logo center">RVB'n'B</a>
                <% end %>
            </ul>
        </div>
    </div>
</nav>